h1 {
  font-family: 'Black Han Sans', sans-serif;
}

button {
  font-family: 'Black Han Sans', sans-serif;
}
h2 {
  font-size: 20px;
}

.top-nav {
  width: 78%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin: 0 auto 0 35%;
}

.top-nav1 {
  background-color: #333;
  overflow: hidden;
}

.modal-content{
  margin-left: 15%;
  font-family: Georgia, serif;
}

.modal {
  background-color: #ffdead;
  width: 40em;
  height: 20em;
  position: fixed;
  top: 2em;
  left: 21em;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 5px black;
  z-index: 5;
  flex-wrap: wrap;
  align-content: flex-start;
  visibility: hidden;
}

.show {
  visibility: visible !important;
}

canvas {
  background: #ffdead;
  display: block;
  margin: 0 auto;
}

.top-nav1 button {
  background-color: #333;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.top-nav1 button:hover {
  background-color: #dcdcdc;
  color: black;
}

#globalStatsButton{
  padding: 10px 32px;
  margin-left: 60%;
  font-size: small;
}
#how-to, #how-to2, #how-to3 {
  font-weight: bold;
}
#start {
  padding: 1em;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0 auto;
}

#game-start-cover {
  width: 1250px;
  height: 593px;
  position: absolute;
  z-index: 3;
  background-color: rgba(50, 50, 50,1);
  left: 140px;
  visibility: visible;
  display: flex;
  align-items: center;
}

#lost, #won {
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  top: 14em;
  left: 25em;
  visibility: hidden;
}

#close, #closed, #closed2{
  font-size: 2em;
  cursor: pointer;
}